<form method="post" action="{{ path('app_bureau_delete', {'id': bureau.id}) }}" onsubmit="return confirm(' Tu es sure de supprimer cet element?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bureau.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
