{% extends 'base.html.twig' %}

{% block title %}Edit Bureau{% endblock %}

{% block body %}
<div class="container d-block mt-5">
    <div class="row">
        <h1>Bureau</h1>
    </div>
    <div class="row">
        {{ include('bureau/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

        <a href="{{ path('app_bureau_index') }}" class="btn btn-sm btn-info m-1">back to list</a>

        {{ include('bureau/_delete_form.html.twig') }}
    </div>    
</div>
{% endblock %}
