<form method="post" action="{{ path('app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Tu es sure de supprimer cet element?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
