{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
<div class="container d-block mt-5">
    <div class="row">
        <h1>Créer Evennement</h1>
    </div>
    <div class="row">
        {{ include('event/_form.html.twig', {'button_label': 'Créer'}) }}

        <a href="{{ path('app_event_index') }}" class="btn btn-sm btn-info m-1">back to list</a>
    </div>    
</div>
{% endblock %}
